@model IEnumerable<StarMatrix.Models.Tug>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2>Tug</h2>
            </div>
            <div class="box-content">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Sr.</th>
                            <th>
                                @Html.DisplayNameFor(model => model.TugName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BollardPullName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EngineHPName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ClassTypeName)
                            </th>
                            <th><a class="btn btn-success btn-sm" href="@Url.Action("Create", "Tugs")"><i class="glyphicon glyphicon-plus-sign"></i> Add New</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int rowno = 0;}
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @(rowno += 1)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TugName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BollardPullName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EngineHPName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ClassTypeName)
                                </td>
                                <td>
                                    <a class="btn btn-primary btn-sm" href="@Url.Action("Edit", "Tugs", new { id = item.TugId})"><i class="glyphicon glyphicon-edit"></i> Edit</a>
                                    <a class="btn btn-danger btn-sm" onclick="return confirm('Are sure you want to delete this item?');" href="@Url.Action("DeleteConfirmed", "Tugs", new { id = item.TugId })"><i class="glyphicon glyphicon-trash"></i> Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
